.myNews{
	.line{
		margin-bottom: 10px;
	}
	.secSlideImage{
		width: 250px;
		height: 250px;
		.data{
			top:0px;
			height: 25px;
		    padding: 7px 15px 0;
		    border-radius: 11px 0;
		}
		img{
			display: block;
			width: 100%;
		}
	}
	.col-md-8{
		    a{
		    	    font-weight: normal;
  				  line-height: 1.1;
		     color: #18a5d3;
		     font-size: 18px;
		    }
		    p{
		    	font-size: 14px;
		    }
	}
	.myNew{
		margin-top: 30px;
		margin-bottom: 20px;
	}
}